# Auto detect text files and perform LF normalization
* text=auto

*.uasset 	filter=lfs diff=lfs merge=binary -text lockable
*.umap 		filter=lfs diff=lfs merge=binary -text lockable
*.psd 		filter=lfs diff=lfs merge=binary -text lockable
*.mp4 		filter=lfs diff=lfs merge=binary -text lockable
*.fbx 		filter=lfs diff=lfs merge=binary -text lockable
*.png 		filter=lfs diff=lfs merge=binary -text lockable
*.tga 		filter=lfs diff=lfs merge=binary -text lockable
*.chm 		filter=lfs diff=lfs merge=binary -text lockable
*.lib 		filter=lfs diff=lfs merge=binary -text lockable
*.pdb 		filter=lfs diff=lfs merge=binary -text lockable
*.exe 		filter=lfs diff=lfs merge=binary -text lockable
